body {
  background: #F7F7F7;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: #2310FA;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
}

.navbar-button {
  display: flex;
  padding: 10px;
  color: white;
  background: #2310FA;
  border: 0;
  cursor: pointer;
}

.login-button {
  width: 107px;
  height: 40px;
  left: 1153px;
  top: 10px;
  color: #2310FA;
  background: #FFFFFF;
  border: 0;
  border-radius: 6px;
}

#background-img {
  background: url(/images/wave.svg);
}

#big-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 75vh;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.small-box {
  width: 135.86px;
  height: 24px;
  left: 436.55px;
  top: 566px;
  font-family: Proxima Nova;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #969696;
  background: #FFFFFF;
  border-radius: 10px;
}



#left {

}

#right {

}
