html, body {
  width: 100%;
  height: 100%;
  background: #F7F7F7;
}

p {
  line-height: 1.5em;
}

span {
  margin: 0 10px;
  color: #969696;
  font-size: 14px;
}

.header {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 0 0 50px 0;
  background: #2310FA;
}

.navbar-menu {
  display: flex;
  margin: 0 auto;
}

.navbar-button {
  display: flex;
  position: relative;
  padding: 10px;
  color: #BBB4FF;
  background: #2310FA;
  border: 0;
  cursor: pointer;
  
}
.navbar-button:hover {
  display: block;
  color: #FFFFFF;
  font-weight: bold;
}

.navbar-button::before {
  display: block;
  position: absolute;
  width: 84%;
  height: 5px;
  top: 43px;
  left: 8%;
  right: 8%;
  background: #FFF;
  transition: opacity 0.1s ease;
  border-radius: 100px;
  text-align: center;
  opacity: 0;
  content: "";
}

.navbar-button:hover::before {
  opacity: 1;
}

.spacer {
  width: 110px;
  height: 100%;
  margin: 0 0 0 20px;
}

.login-button {
  width: 110px;
  height: 40px;
  margin: 0 20px 0 0;
  background: #FFFFFF;
  color: #2310FA;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.login-button:hover {
  font-weight: bold;
}

.main {
  width: 100%;
  height: 100%;
  background: #F7F7F7 url(../images/wave.svg) repeat-x 0 -120px;
}

.cover {
  width: 100%;
  height: 320px;
  margin: 0 0 30px 0;
  background: #C4C4C4;
  border-radius: 6px;
}

.information {
  display: flex;
  width: 100%;

}

.big-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.small-tagbox {
  height: 25px;
  margin: 0 10px 10px 0;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#969696;
  background:#F3F3F3;
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  box-sizing: content-box;
}


.left {
  width: 60%;
  margin-right: 5px;
}

.left p {
  color: #969696;
}

.right {
  width: 40%;
  margin-left: 5px;
}

.coolbox {
  display: flex;
  justify-content: space-between;
  background: #F1F3FE;
  border-radius: 6px;
  line-height: 1.2em;
  padding: 15px 20px;
  margin-bottom: 5px;
}

.small-tagbox:hover {
  background-color: #2310FA;
  color: #FFFFFF;
}

.avatar {
  width: 30%;
}

.avatar img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}


.followers {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: left;
  margin: 0 10%;
}

.small-container {
  display: flex;
}

.icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.red {
  width: 40px;
  color: lightpink;
  height: 40px;
  border-radius: 50%;
}

.blue {
  width: 40px;
  color: lightskyblue;
  height: 40px;
  border-radius: 50%;
}

.blue img {
  width: 30px;
  height: 30px;
  background: lightskyblue;
}
